body {
    background-image: linear-gradient(
        180deg,
        MediumSeaGreen 10%,
        SpringGreen 20%,
        MediumSpringGreen 30%,
        LightGreen 50%,
        PaleGreen 90%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

#personagens {
    align-items: center;
    display: flex;
    height: 75vh;
    justify-content: center;
    position: relative;
}

#div-botao {
    align-items: center;
    display: flex;
    height: 5vh;
    justify-content: center;
    position: relative;
}

main > div section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

#botao {
    background-color: #a9d4e7;
    border-radius: 3px;
    color: blue;
    font-family: Verdana;
    font-size: medium;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 20px;
    padding: 5px 15px;
    text-transform: uppercase;
}