body {
    background-image: linear-gradient(
        180deg,
        MediumSeaGreen 10%,
        SpringGreen 20%,
        MediumSpringGreen 30%,
        LightGreen 50%,
        PaleGreen 90%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}
